<div class="card col-md-4 login-div offset-md-4">
      
    <h5 class="card-header">Login into the App!</h5>
   <div class="form-div card-body">
    <form [formGroup] = "loginForm" (ngSubmit) = "onSubmit($event)">
        <div class="form-group">
            <input type="text" formControlName= "username" class = "form-control" placeholder="UserName">
            <div class="error has-error alert-danger errorDiv" *ngIf = "loginForm.controls['username'].errors
            && loginForm.controls['username'].touched">
                               
                <div>Username is required</div>
            </div>
         </div>
         <div class="form-group">
            <input type="text" formControlName= "password" class = form-control placeholder="Password">
            <div class="error has-error alert-danger errorDiv" *ngIf = "loginForm.controls['password'].errors
            && loginForm.controls['password'].touched">
                <div>Password is required</div>
            </div>
         </div>
         <div>
         <button mat-raised-button color = 'primary' type="submit">  
            Login
        </button>
            <span style="float: right; margin-top: 12px">Forgot Password</span>
        </div>
    </form>
   </div>
  
</div>
