<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc048">
        <a class="navbar-brand" href="#">Angular Expense Manager</a>
       
        <div class="collapse navbar-collapse navList" style="overflow: hidden;">
          <ul class="navbar-nav">
            <!-- <li class="nav-item" *ngIf = "!isLoggedIn">
              <a class="nav-link" href="#">Login</a>
            </li> -->
            <li class="nav-item" *ngIf = "isLoggedIn">
             <a class="nav-link" href="#">Hello</a>
            </li>

            <!-- <li class="nav-item mr-auto ml-2 mt-lg-0" style="margin-left: 2%">
              <a class="nav-link" href="#">Logout</a>
            </li> -->
        </ul>
        
        </div>
      </nav>

    